
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-image: linear-gradient(30deg, rgb(66, 193, 66), rgb(38, 167, 222, 1));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header {
    font-weight: 900;
}

