
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-image: linear-gradient(30deg, rgb(66, 193, 66), rgb(38, 167, 222, 1));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
  border: 1px solid #26a7de20;
}

.card-header {
    font-weight: 900;
}

.card-img-overlay {
  background-image: linear-gradient(to top, rgba(66, 193, 66, 0.3), rgba(38, 167, 222, 1));
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, #42c142 90%);
  width: 100%;
  content: '';
}

.bg-erg-gradient {
  background-image: linear-gradient(30deg, rgb(66, 193, 66), rgb(38, 167, 222, 1));
}

.breadcrumb {
  background: inherit;
}